<nav>
    <div>
        <a href="/"><h1>Curious Techno</h1></a>
        <p>A Technical or Non-technical Knowlagde site</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>