<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="new-blog content">
        <form action="/blogs" method="POST">
            <label for="title">Blog Title</label><br>
            <input type="text" id="title" required name="title"><br>
            <label for="title">Blog snippet:</label><br>
            <input type="text" id="snippet" required name="snippet"><br>
            <label for="title">Blog Body</label><br>
            <textarea id="body" required name="body"></textarea><br>
            <button>Submit</button>
        </form>
    </div>
        <%- include('./partials/footer.ejs') %>
</body>
</html>